:root {
  --white: #f0f0f0;
  --red: #be3144;
  --blue: #45567d;
  --gray: #303841;
}

/*nav bar*/
ul {
  position: fixed;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  top:0;
  left: 0;
  bottom: auto;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3
}

li {
  float: left; 
}

li a { /*this means all the a's in li*/
  text-decoration: none;
  color:#666 ;
  display: block;
  padding: 8px;
  font-family: italic, sans-serif;
}

li{
  /* border-right: 1px solid #bbb; */
  font-size: 1em;
  padding: 10px;
}

li:last-child {
  border-right: none;
}

li a:hover {
  background-color: #04AA6D;
}


/*first section;*/
