@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Mate:ital@0;1&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mate:ital@0;1&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --sections:  #008080;
  --background: #333333;
  --text : rgb(219, 212, 212);
  background-color: var(--background);
  
}


* {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  
}


.navbar{
  display: flex;
  background-color: var(--sections);
  justify-content: space-around;
  height: 50px;
  align-items: center;
  border-radius: 18px 18px 0 0;
  outline: var(--sections) solid 1px;
  outline-offset: 1px;
  padding: 0px 30px;
}

.navContainer{
  position: fixed;
  /* position: relative; */
  bottom: 0;
  z-index: 3;

  background-color: var(--background);
  width: 100%;
}

/* . fixed bottom-0  w-full */


.Picon{
  width: 30px;
  height: 25px;
  transition: width 1s;

}

.section{
  flex-direction: column;
  width: 60px;
  align-items: center;
  color: var(--text);
}

.section span{
  display: none;
  position: absolute;
  animation: slideUp 1s forwards;
}
@keyframes slideUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}

.section:hover span {
  display: block;
}

.section:hover .Picon {
  filter: blur(3px);
  width: 0px;
}

.section:active,
.section:focus , .default{
  color: var(--background);
}

  /*---: */

  .header{
    display: flex;
    justify-content: space-around;
    gap: 40%;
    height: 82px;
    align-items: center;
    min-width: 300px;


  }

  .Oicon{
    color: var(--text);
    width: 35px;
    height: 25px;
  }
  
  .logoIcon{
    background-color: transparent;
    border-radius: 50%;
    outline: var(--sections) solid 1px;
    outline-offset: 2px;
    
  }
  
  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .clicked {
    transform: scale(1.2) rotate(-15deg);
    background-color: var(--sections);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  }
  
  .clicked::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 50%;
    transform-origin: bottom center;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .clicked.clicked::after {
    transform: scaleY(1);
  }

  /*  */
  .Connect{
    height: 60vh;
    min-width: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    min-height: 500px;
    max-height: 800px;
    border-radius: 35px;
    width: 60vw;
    max-width: 400px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.3);
    animation: slideUp 1s forwards;
    padding: 1;
    margin-bottom: 60px;
    gap: 5px;
  }
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .connecHead{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }

.connecHead h2{
    position: absolute;
    background-color: var(--sections); 
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: var(--background) 1px solid;
    width: 150px;
    height: 30px;
  }
  
  hr{
    border-color: var(--sections);
    background-color: #008080;
    width: 80%;
    margin: 0 auto;
  }
  
  .infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  

  .socialIcon{
    width:  20px;
    height: 20px;
    border-radius: 20%;
    color: white;
  }
  .socials{
    
    /* height: 0%; */
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .smContainer{
   
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--sections) solid 1px;
    height: 36px;
    width: 36px !important;
    border-radius: 50%;
    animation: expandWidth 2s forwards;
  }
   
  @keyframes expandWidth {
        from {
          width: 0;
        }
        to {
          width: 30px;
        }
      }

      .sideIcons{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .resume{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .resumeContainer p{
        font-size: 10px;
        /* color: var(--background); */
      }
      .resumeContainer{
        margin-bottom: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3px;
        background-color: var(--sections);
        outline: var(--sections) 1px solid;
        outline-offset: 2px;
        border-radius: 10px;
        width: 65px;
        height: 25px;
        color: var(--background);
      }

      .socials:active > .smContainer:not(:hover){
        filter: blur(6px);
        transform: scale(0.9, 0.9);
      }
      .socials .smContainer:hover{
        .socialIcon{
          color: var(--background);
        }
        transform: scale(1.1, 1.1);
      background-color: white;
    }


.paraContainer{
  width: 90%;
  margin: 0 auto;
}

.paragraph{
  display: flex;
  align-items: start;
  color: white;
  opacity: .6;
  text-align: center;
  width: 90%;
  min-height: 90px;
  font-size: 12px;
  margin: auto auto;
  border-radius: 5px;
  
  /* background-color: red; */

}

/* media */

@media (max-height: 729px) {
  .smContainer{
    border: none;
  }
  .socials .smContainer:hover{
    .socialIcon{
      color: white;
      width:  20px;
      height: 20px;
    }
    transform: scale(1, 1);
    background-color: var(--background);
  }
}

@media (min-width: 512px) {
  .options{
    display: none;
  }
  .navContainer {
    position: static;
    bottom: auto;
    height: 100vh;
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    float: right;
  }
  .section:hover span {
    display: none;
  }
  .section:hover .Picon{
    filter: none;
    width: 30px;
  }
  .navbar{
    flex-direction: column;
    justify-content: space-around;
    width: 36px;
    padding: 0px 0px;
    height: 30vh;
    border-radius: 18px 18px 18px 18px;
  }
}
@media (max-width: 512px) {
  .hidden-Icon{
    display: none;
  }
}


/*  */

 .myPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  min-height: 210px;
  
}

.contact-form {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  font-size: 12px;
  height: 90%;
  margin: 0 auto;
}

label {
  display: block;
  color: white
}

input,
textarea {
  max-height: 70px;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;

  color: var(--text);
  background-color: var(--background);

  border: 1px solid var(--sections);
}

.send{
  display: flex;
  justify-content: center;
  align-items: center;
}




/*  */
.landing{
  background-color: #232323;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sahihLogo{
  width: 0;
  height: 0;
  transition: width 1s, height 1s;
}

.sahihLogo.show {
  width:  90px;
  height: 90px;
}

.Home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
  min-height: 400px;
}

.welcome{
  display: flex;
  flex-direction: column;
  gap: .6rem;
  height: 70%;
  width: 80%;
  color: white;
}

.firstline{
  font-family: "Montserrat Alternates", sans-serif;
  font-style: italic;
  font-size: .7rem;
  opacity: .8;
}

.secondline{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
}

.thirdline{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  opacity: .6;
}


.fourthline{
  opacity: .6;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 100;
}


.githubutton{
  align-self: end;
  margin-top: 10px;
}

/* about */

.about{
  color : white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 800px;
  margin-bottom: 100px;
  padding: 20px;
  min-width: 300px;
}

@media (max-width: 300px) and (max-height: 800px) {
  .about{
      margin-bottom: 200px;
    }
}

.sectionHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  justify-content: space-around;
  width : 200px;
  height: 40px; 
}



.aboutme{
  text-align: justify;
  width: 80%;
  margin-top: 10%;
}


.aboutme p{
  font-family: "Asap Condensed", sans-serif;
  font-weight: 100;
  /* opacity: .8; */
  word-spacing: 6px;
}


.aboutme p span{
  opacity: .5;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 500;
  color : white;
}


/* photo */

.Photo{
  /* background-color: red; */
  margin-top: 10%;
}

.ysahih{
  border-radius: 10px;
  opacity: .5;
  border: #008080 2px solid;
}

.ysahih:hover{
  opacity: 1;
  border: none;
}

/* Skills */


.sectionHeader{

  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.skills-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  height: 90vh;
  min-width: 300px;
  gap: 5%;
}

.skills-container .sectionHeader{
  align-self: center;
  width: 300px;
  font-size: 1.4rem;
  justify-content: center;
}


.skilltype{
  display: flex;
  align-items: center;
  gap: 3%;
}

.skilltype h3 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 400;
  word-spacing: 5px;
  font-size: 1.4rem;
  opacity: .8;
  min-width: 130px;
  animation: slideLeft 1s forwards;

}

@keyframes slideLeft {
  0% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
  }
}

.skilltype hr{
  margin: 0;
  width: 30%;
  height: 2px;
  border-radius: 2px;
  animation: slideRight 1s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-8vw);
  }
  100% {
    transform: translateX(0);
  }
}



.skills{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

  @media (min-width: 712px) {
    .skills {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .skills-section:last-child {
      grid-row: span 2;
    }
  }

.skills-section{
  padding: 20px;
}


.skillName li{
  padding: 2px;
  opacity: .5;
}

.skillName{
  padding: 10px;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 500;
  color : white;
}

.skillName li:hover{
  opacity: 1;
}


.skills-section:last-child{
  
}

