@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Mate:ital@0;1&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mate:ital@0;1&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --sections:  #008080;
  --background: #333333;
  --text : rgb(219, 212, 212);
  background-color: var(--background);
  
}

.Mobile{
  background-color: var(--background);
}

.Desktop{
  background-color: white;
}

* {
  
  margin: 0;
  padding: 0;
}


.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 8px 8px 0 0;
  outline: var(--sections) solid 1px;
  outline-offset: 1px;
  background-color: var(--sections);
  padding: 0px 30px;
}

.navContainer{
  position: fixed;
  bottom: 0;
  z-index: 3;
  background-color: var(--background);
  width: 100%;
}



.Picon{
  width: 30px;
  height: 40px;
  transition: width 1s;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  min-width: 75px;
  color: var(--text);
}

.section span{
  display: none;
  position: absolute;
  animation: slideIUp 1s forwards;
}

@keyframes slideIUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(40%);
  }
}

.section:hover span {
  display: block;
}

.section:hover .Picon {
  filter: blur(3px);
  width: 0px;
}

.section:active,
.section:focus, .hover{
  color: var(--background);
}

  /*---: */

  .header{
    display: flex;
    justify-content: space-around;
    gap: 40%;
    height: 82px;
    align-items: center;
    min-width: 300px;


  }

  .Oicon{
    color: var(--text);
    width: 35px;
    height: 25px;
  }
  
  .logoIcon{
    background-color: transparent;
    border-radius: 50%;
    outline: var(--sections) solid 1px;
    outline-offset: 2px;
    
  }
  
  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .clicked {
    transform: scale(1.2) rotate(-15deg);
    background-color: var(--sections);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  }

  .clicked.clicked::after {
    transform: scaleY(1);
  }

  /*  */
  .Connect{
    height: 60vh;
    min-width: 300px;
    display: grid;
    min-height: 480px;
    max-height: 520px;
    border-radius: 35px;
    width: 60vw;
    max-width: 400px;
    margin: 10px auto;
    background-color: #262626;
    padding: 1;
    margin-bottom: 60px;
    gap: 5px;
    animation: slideUp 1s forwards;
  }

  .connecHead{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding-top: 15px;
  }

.connecHead h2{
    position: absolute;
    background-color: var(--sections); 
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: var(--background) 1px solid;
    width: 150px;
    height: 30px;
  }
  
  hr{
    border-color: var(--sections);
    background-color: #008080;
    width: 80%;
    margin: 0 auto;
  }
  
  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .socialIcon{
    width:  20px;
    height: 20px;
    border-radius: 20%;
    color: white;
  }
  .socials{
    
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .smContainer{
   
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--sections) solid 1px;
    height: 36px;
    width: 36px !important;
    border-radius: 50%;
    animation: expandWidth 2s forwards;
  }
   
  @keyframes expandWidth {
        from {
          width: 0;
        }
        to {
          width: 30px;
        }
      }

      .sideIcons{
        width: 90%;
      }
      .resumeContainer p{
        font-size: 10px;
      }
      .resumeContainer{
        margin-bottom: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3px;
        background-color: var(--sections);
        outline: var(--sections) 1px solid;
        outline-offset: 2px;
        border-radius: 10px;
        width: 65px;
        height: 25px;
        color: var(--background);
      }

      .socials:active > .smContainer:not(:hover){
        filter: blur(6px);
        transform: scale(0.9, 0.9);
      }
      .socials .smContainer:hover{
        .socialIcon{
          color: var(--background);
        }
        transform: scale(1.1, 1.1);
      background-color: white;
    }


.paraContainer{
  width: 90%;
  margin: 0 auto;
}

.paragraph{
  display: flex;
  align-items: start;
  color: white;
  opacity: .6;
  text-align: center;
  width: 90%;
  font-size: 14px;
  margin: auto auto;
  border-radius: 5px;
}



/*  */

 .myPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 210px;
  height: 260px;
}

.contact-form {
  font-size: 12px;
  

}

label {
  display: block;
  color: white
}

input,
textarea {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--background);
  outline: none;
}
input:focus,
textarea:focus{
  outline: var(--sections) 1px solid;
}

textarea{
  max-height: 70px;
  min-height: 70px;
}

.send{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}




/*  */
.landing{
  background-color: #232323;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sahihLogo{
  width: 0;
  height: 0;
  transition: width 1s, height 1s;
}

.sahihLogo.show {
  width:  90px;
  height: 90px;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  min-width: 300px;
  min-height: 500px;  
}

.welcome , .homeWelcome{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  color: white;
}
.homeWelcome{
  width: 80%;
}

.linkedIn, .resume{
  padding-top : 30px;
  align-self: end;  
}

.linkedIn , .skilltype h3{
  animation: slideLeft 1s forwards;
}


@keyframes slideLeft {
  0% {
    transform: translateX(vw);
  }
  100% {
    transform: translateX(0);
  }
}

.firstline{
  font-style: italic;
  font-size: .7rem;
  opacity: .8;
}

.secondline{
  font-weight: 900;
}

.thirdline{
  font-weight: 800;
  opacity: .6;

}



.fourthline {
  font-family: "Asap Condensed", sans-serif;
  word-spacing: 5px;
  padding-top: 10px;
  animation: slideUp 1s forwards;
  }
 
.fourthline span{
  font-family: "Asap Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #66CCCC;
}


/* about */

.about{
  color : white;
  padding: 20px;
  min-width: 300px;
  height: 100vh;
}


.sectionHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  justify-content: space-around;
  height: 40px; 
}



.aboutme{

  text-align: justify;
  padding-top: 10%;
  animation: slideUp 1s forwards;
  }
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.aboutme p {
  font-family: "Asap Condensed", sans-serif;
}


.aboutme p span{
    font-family: "Asap Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #66CCCC;
  
}


/* photo */

.Photo{
  margin-top: 10%;
}

.ysahih{
  border-radius: 4px;
  opacity: .5;
  border: #008080 2px solid;
}

.ysahih:hover{
  opacity: 1;
  border: none;
}

/* Skills */


.sectionHeader, .firstline{
  animation: slideDown 1s forwards;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.skills-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  height: 90vh;
  min-width: 300px;
  gap: 5%;

}

.skills-container .sectionHeader{
  align-self: center;
  justify-content: center;
  padding: 0px;
}


.skilltype{
  display: flex;
  align-items: center;
  gap: 4%;
  
}

.skilltype h3 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 400;
  word-spacing: 5px;
  font-size: 1.4rem;
  min-width: 130px;
}
.skilltype hr{
  margin: 0;
  width: 30%;
  height: 2px;
  border-radius: 2px;
  animation: slideRight 1s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-8vw);
  }
  100% {
    transform: translateX(0);
  }
}

.skills{
  padding: 20px;
  /* padding-top: 5vh; */
  display: flex;
  flex-wrap: wrap;
}




.skills-section li{
  padding: 2px;
  opacity: .7;
}

.skillName{
  padding: 10px;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 500;
  color : white;
  
}

.skills-section li:hover{
  opacity: 1;
}



.tools{
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 100px;
  /* max-width: 80vw;
  background-color: red; */

}


.toolicon{
  width:  80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  
}

.toolicon span{
  font-size: .6rem;
}
/* 
.footerHolder{
  background-color: #262626;
  height: 100vh;
}

.footer{
  padding-bottom: 100px;
  padding-right: 200px;
  min-width: 512px;
  display: flex;
  background-color: #262626;
  flex-direction: column;
  align-items: center;
}

.footer .intro{
  padding: 50px;
  max-width: 800px;
}

.footer .sectionHeader{
  color: white;
  
}

.footerContainer{

  width:  50vw;
  margin: auto auto;
  max-width: 500px;
  min-width: 312px;
}


.footer label{
  font-size: .8rem;
  font-weight: 200;
}

.foot{
  bottom: 0;
  padding: 30px;
  position: fixed;
  color: #66CCCC;
  width: 100vw;
  background-color: #262626;
  font-family: "Asap Condensed", sans-serif;
}

.foot p{
  margin:  0 auto;
  width: 200px;
  font-size: .6rem;
  word-spacing: 4px;

}

.footer .paragraph{
  opacity: .8;
  min-width: 312px;
  border: var(--sections) 1px solid;
} */


/* media */


/* @media (min-width: 512px) {
 
  .child{
    height: 30vh;
    display: flex;
    align-items: center;
  }
  
  .skills-section:last-child span{
    opacity: 1;
    font-size: 20px;
  }
  .skills-section:last-child span {
    opacity: 0;
    transition: opacity 0.5s, transform 1s;
    transform: translateY(50%);
  }
  
  .skills-section:last-child i:hover ~ span {
    opacity: 1;
    transform: translateY(-100%);
  }
  .skills-section i{
    font-size: 50px;
  }
  .skills-section:last-child i:hover {
    opacity: 0.2;
  }
} */

/* 
.sideimg p{
  font-size: 10px;
  color: var(--sections);
  font-style: italic;
}

.sideimg{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidePhoto{
  border-radius:  50%;
  width: 100px;
  outline: var(--sections) 1px solid;
  outline-offset: 1px ;
}

.contactinfo{
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: end;
}

.lines hr{
  height: 2px;
  border-radius: 1px;

}

.lines{
  height: 25px;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.contactfooter{
  display: flex;
  align-items: center;
  width: 134px;
  justify-content: space-between;
  margin: 0 auto;
}

.email:hover p{
  font-size: 21px;

}
.email p{
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  font-family: "Asap Condensed", sans-serif;
}


.projects .sectionHeader hr{
  width: 200px;
}

.projects{
  color: white;
  min-width: 300px;
  padding: 10px;
  
}
.projectHolder{
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.email{
  writing-mode: vertical-rl; 
  text-orientation: sideways;
  color: white;
}


.contactinfo hr{
  width: 50px;
}
.contactinfo .socials{
  display: flex;
  flex-direction: column;
}
.contactinfo .smContainer{
  border: none;
}
.contactinfo .socials .smContainer:hover{
  width: 30px;
} */

/* .contactinfo .socials .smContainer{
  flex: 0 0 calc(100% / 2);
} */

/* .infoHolder{
  width: 100vw;
} */

/* @media (min-width: 512px) {
  .navContainer {
    position: fixed;
    bottom: auto;
    right: 0;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #262626;
    border-radius: 10px 0 0 10px;
    outline: var(--sections) solid 1px;
    outline-offset: 1px;
  }

  .section:hover span {
    display: none;
  }
  .Picon{
    width: 35px;
  }

  .section:hover .Picon{
    filter: none;
    width: 35px;
    height: 40px;
  }
  
  .navbar{
    flex-direction: column;
    justify-content: space-around;
    width: 48px;
    padding: 0px 0px;
    height: 35vh;
    min-height: 300px;
    border-radius: 20px;
  }
  .header{
    display: none;
  }
  .aboutme{
    max-width: 700px;
  }

  *{
    font-size: 1.3rem;
  }
  .sectionHeader{
    font-size: 2rem;
    margin-top: 10vh;
    white-space: nowrap;
    padding-bottom: 120px;
  }
  
  .infoHolder{

    display: flex;
    justify-content: center;
    width: calc(100vw - 200px);
    padding: 40px;
    padding-top: 0;
  }

  .Photo{
    display: none;
  }

  .skills-container , .skills, .projects{
    width: calc(100vw - 200px);
  }

  .tools{
    width: 50vw;
  }

  .home{
    width: calc(100vw - 200px);
    height: 100vh;
    padding: 0;
    margin: 0;
    
  }
  .welcome{
    height: 60%;
    max-width: 700px;
  }
} */

@media (max-width: 512px) {

  .hidden-Icon{
    display: none;
  }
  .sideimg, .contactinfo{
    display: none;
  }
  .about, .home{
    width: 100vw;
    height: 50%;
    margin-bottom: 100px;
  }

  .projectHolder{
    padding-top: 50px;
  }
  .projects .sectionHeader hr{
    width: 100px;

  }
  .projects{
    color: white;
  }
  .container{
    animation: slideUp 1s forwards;
    padding: 40px;
    padding-top: 60px;
  }
}



/* media */

@media (max-height: 729px) {
  .smContainer{
    border: none;
  }
  .socials .smContainer:hover{
    .socialIcon{
      color: white;
      width:  20px;
      height: 20px;
    }
    transform: scale(1, 1);
    background-color: var(--background);
  }
}


