@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Mate:ital@0;1&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mate:ital@0;1&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --sections:  #008080;
  --background: #333333;
  --text : rgb(219, 212, 212);
  background-color: var(--background);
  
}


*{
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;
  
}


.navbar{
  display: flex;
  background-color: var(--sections);
  justify-content: space-around;
  /* background-color: red; */
  height: 50px;
  align-items: center;
  border-radius: 18px 18px 0 0;
  outline: var(--sections) solid 1px;
  outline-offset: 1px;
  padding: 0px 30px;
}

.navContainer{
  z-index: 3;
  position: fixed;
  bottom: 0;
  background-color: var(--background);
  
  width: 100%;
}

/* . fixed bottom-0  w-full */


.Picon{
  width: 30px;
  height: 25px;
  transition: width 1s;

}

.section{
  flex-direction: column;
  width: 60px;
  align-items: center;
  color: var(--text);
}

.section span{
  display: none;
  position: absolute;
  animation: slideUp 1s forwards;
}
@keyframes slideUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}

.section:hover span {
  display: block;
}

.section:hover .Picon {
  filter: blur(3px);
  width: 0px;
}

.section:active,
.section:focus {
  color: var(--background);
}

.homehover{
  color: var(--background);

}

  /*---: */

  .header{
    display: flex;
    justify-content: space-around;
    gap: 40%;
    height: 82px;
    align-items: center;
    /* background-color: red; */
    /* margin-bottom: 10px; */


  }

  .Oicon{
    color: var(--text);
    width: 35px;
    height: 25px;
  }
  
  .logoIcon{
    background-color: transparent;
    border-radius: 50%;
    outline: var(--sections) solid 1px;
    outline-offset: 2px;
    
  }
  
  .options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  
  .options:hover {
    transform: scale(1.2) rotate(-15deg);
    background-color: var(--sections);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  }
  
  .options:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;

    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 50%;
    transform-origin: bottom center;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .options:hover:before {
    transform: scaleY(1);
  }


  /*  */
  .Connect{
    height: calc(100vh - 150px);
    min-width: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    min-height: 580px;
    border-radius: 35px;
    width: 90vw;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.3);
    outline: #008080 1px solid; 
    outline-offset: 2px;
    animation: slideUp 1s forwards;
    padding: 1;
    margin-bottom: 60px;
    /* background-color: red; */
    gap: 5px;
  }
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .connecHead{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 60px;
  }

.connecHead h2{
    position: absolute;
    background-color: var(--sections); 
    color: var(--background);
    /* padding: 0 10px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: var(--background) 1px solid;
    width: 150px;
    height: 30px;
  }
  
  hr{
    border-color: var(--sections);
    background-color: #008080;
    width: 80%;
    margin: 0 auto;
    /* height: px; */
  }
  
  .infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;


    

  }
  

  .socialIcon{
    width:  20px;
    height: 20px;
    border-radius: 20%;
    color: white;
  }
  .socials{
    
    /* height: 0%; */
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .smContainer{
   
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--sections) solid 1px;
    height: 36px;
    width: 36px !important;
    border-radius: 50%;
    animation: expandWidth 2s forwards;
  }
   
  @keyframes expandWidth {
        from {
          width: 0;
        }
        to {
          width: 30px;
        }
      }

      .sideIcons{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .resume{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .resumeContainer p{
        font-size: 10px;
        /* color: var(--background); */
      }
      .resumeContainer{
        margin-bottom: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3px;
        background-color: var(--sections);
        outline: var(--sections) 1px solid;
        outline-offset: 2px;
        border-radius: 10px;
        width: 65px;
        height: 25px;
        color: var(--background);
      }

      .socials:active > .smContainer:not(:hover){
        filter: blur(6px);
        transform: scale(0.9, 0.9);
      }
      .socials .smContainer:hover{
        .socialIcon{
          color: var(--background);
        }
        transform: scale(1.1, 1.1);
      background-color: white;
    }

    .ucef{
      /* background-color: red; */
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
      filter: brightness(120%);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  }


.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  gap: 20%;
}


.line{
  background-color: var(--sections);
  width: 80%;
  height: 1px;
}

.footer p{
  color: white;
}

.paraContainer{
  width: 90%;
  margin: 0 auto;
}

.paragraph{
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  width: 90%;

  min-height: 90px;
  /* height: 80%; */
  font-size: 12px;
  margin: auto auto;
  border: var(--sections) 1px solid;
  border-radius: 5px;
  
  /* background-color: red; */

}

/* media */

@media (max-height: 729px) {
  .smContainer{
    border: none;
    /* transform: translate(-10px, -10px); */
  }
  .socials .smContainer:hover{
    .socialIcon{
      color: white;
      width:  20px;
      height: 20px;
    }
    transform: scale(1, 1);
    background-color: var(--background);
  }
}

@media (min-width: 512px) {
  .options{
    display: none;
  }
  .navContainer {
    position: static;
    bottom: auto;
    height: 100vh;
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    float: right;
  }
  .section:hover span {
    display: none;
  }
  .section:hover .Picon{
    filter: none;
    width: 30px;
  }
  .navbar{
    flex-direction: column;
    justify-content: space-around;
    width: 36px;
    padding: 0px 0px;
    height: 30vh;
    border-radius: 18px 18px 18px 18px;
  }
}
@media (max-width: 512px) {
  .hidden-Icon{
    display: none;
  }
}


/*  */

 .myPhoto{
  /* min-height: 20px; */
  border: 1px solid var(--sections);;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 350px;
  /* background-color: red; */
}

.contact-form {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  max-width: 400px;
  height: 90%;
  width: 85%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: .5rem;
}

label {
  display: block;
  color: white
  /* margin-bottom: 0.5rem; */
}

input,
textarea {
  max-height: 140px;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  /* outline: none; */
  color: var(--text);
  background-color: var(--background);
  border: 1px solid var(--sections);
}

.send{
  display: flex;
  justify-content: center;
  align-items: center;
}




/*  */
.landing{
  background-color: #232323;
  opacity: ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sahihLogo{
  /* width: 0; */
  width: 0;
  height: 0;
  transition: width 1s, height 1s;
}

.sahihLogo.show {
  width:  90px;
  height: 90px;
}

.Home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
  min-height: 400px;
  /* height: 80vh; */
}

.welcome{
  display: flex;
  flex-direction: column;
  gap: .6rem;
  height: 70%;
  width: 80%;
  color: white;
  /* gap: 30px; */

}
.firstline{
  font-family: "Montserrat Alternates", sans-serif;
  font-style: italic;
  font-size: .7rem;
  opacity: .8;
}

.secondline{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
}

.thirdline{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  opacity: .6;
}


.fourthline{
  opacity: .6;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 100;
}


.githubutton{
  align-self: end;
  margin-top: 10px;
}