@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lalezar&display=swap'); */
/* //Deep Blue: #003366 */
/* // Silver: #C0C0C0 */

:root {
  --sections:  #008080;
  --background: #333333;
  --text : rgb(219, 212, 212);
  background-color: var(--background);

}


*{
  font-family: 'Droid Sans';
  margin: 0;
  padding: 0;
  
}


.navbar{
  display: flex;
  background-color: var(--sections);
  justify-content: space-around;
  /* background-color: red; */
  height: 50px;
  align-items: center;
  border-radius: 18px 18px 0 0;
  outline: var(--sections) solid 1px;
  outline-offset: 1px;
  padding: 0px 30px;
}

.navContainer{
  z-index: 3;
  position: fixed;
  bottom: 0;
  background-color: var(--background);
  /* background-color: red; */
  width: 100%;
}

/* . fixed bottom-0  w-full */


.Picon{
  width: 30px;
  height: 25px;
  transition: width 1s;
}

.section{
  flex-direction: column;
  width: 60px;
  align-items: center;
  color: var(--text);
}

.section span{
  display: none;
  position: absolute;
  bottom: 0;
  animation: slideUp 1s forwards;
}
@keyframes slideUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}

.section:hover span {
  display: block;
}

.section:hover .Picon {
  filter: blur(3px);
  width: 10px;
}

.section:active,
.section:focus {
  color: var(--background);
}



  /*---: */

  .header{
    display: flex;
    justify-content: space-around;
    gap: 40%;
    height: 82px;
    align-items: center;
    /* background-color: red; */
    /* margin-bottom: 10px; */


  }

  .Oicon{
    color: var(--text);
    width: 35px;
    height: 25px;
  }
  
  .logoIcon{
    background-color: transparent;
    border-radius: 50%;
    outline: var(--sections) solid 1px;
    outline-offset: 2px;
    
  }
  
  .options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  
  .options:hover {
    transform: scale(1.2) rotate(-15deg);
    background-color: var(--sections);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  }
  
  .options:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;

    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 50%;
    transform-origin: bottom center;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .options:hover:before {
    transform: scaleY(1);
  }


  /*  */
  .Connect{
    /* height: calc(100vh - 100px); */
    height: 82vh;
    border-radius: 35px;
    width: 80vw;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.3);
    outline: #008080 1px solid; 
    outline-offset: 2px;
    animation: slideUp 1s forwards;
    padding: 1;
  }
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .connecHead{
    height: 10vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }

.connecHead h2{
    position: absolute;
    background-color: var(--sections); 
    color: var(--background);
    /* padding: 0 10px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: var(--background) 1px solid;
    width: 150px;
    height: 30px;
  }
  
    hr{
    border-color: var(--sections);
    background-color: #008080;
    width: 80%;
    margin: 0 auto;
    /* height: px; */
  }
  
  .infos{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    width: 90%;
    height: 72%;
  }

    .socialIcon{
      width:  18px;
      height: 18px;
      border-radius: 20%;
      color: white;
      transition: width 2s;
      /* background-color: red; */
    }
    
    .squared{
      width: 14px;
      height: 14px;
    }
    
    .socials{
      
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      
      /* background-color: red; */
      /* background-color: red; */
    }
    
    .myPhoto{
      height: 80%;
      border: 1px solid var(--sections);;
      display: flex;
      justify-content: center;
      
    }
    .smContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width:  30px;
        height: 30px;
        border-radius: 50%;
        outline: var(--sections) solid 1px;
        outline-offset: 1px;
        /* background-color: var(--sections); */
        
        animation: expandWidth 2s forwards;
      }
      @keyframes expandWidth {
        from {
          width: 0;
        }
        to {
          width: 30px;
        }
      }

      .sideIcons{
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 10%;
        /* justify-content: space-around; */
      }
      
      .resume{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 15%;
      }
      .resumeContainer p{
        font-size: 10px;
        /* color: var(--background); */
      }
      .resumeContainer{
        margin-bottom: 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3px;
        background-color: var(--sections);
        outline: var(--sections) 1px solid;
        outline-offset: 2px;
        border-radius: 10px;
        width: 65px;
        height: 25px;
        color: var(--background);
      }

      .socials:active > .smContainer:not(:hover){
        filter: blur(6px);
        transform: scale(0.9, 0.9);
      }
      .socials .smContainer:hover{
        .socialIcon{
          color: var(--background);
          width:  20px;
          height: 20px;
        }
        transform: scale(1.1, 1.1);
      background-color: white;
    }

    .ucef{
      /* background-color: red; */
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
      filter: brightness(120%);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  }


.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}


.line{
  background-color: var(--sections);
  width: 80%;
  height: 1px;
}

.footer p{
  color: white;
  font-weight: 100;
  /* font-size: 10p; */
}


/* media */
@media (min-width: 512px) {
  .options{
    display: none;
  }
  .navContainer {
    position: static;
    bottom: auto;
    height: 100vh;
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    float: right;
  }
  .section:hover span {
    display: none;
  }
  .section:hover .Picon{
    filter: none;
    width: 30px;
  }
  .navbar{
    flex-direction: column;
    justify-content: space-around;
    width: 36px;
    padding: 0px 0px;
    height: 30vh;
    border-radius: 18px 18px 18px 18px;
  }
}
@media (max-width: 512px) {
  .hidden-Icon{
    display: none;
  }
}